<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @branch.user_id %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @branch.branch_id %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
