
<style type="text/css">
    .reset-password{
        width: 105%;
        background: #fff;
        padding: 0.7px;
        padding-top: 4px;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 10%;
        margin-top: 20%;
        position: relative;
        right: 2%;
        color: forestgreen;

    }
    .reset-password-sub{
        width: 105%;
        background: #fff;
        padding: 0.7px;
        padding-top: 4px;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-top: 20%;
        position: relative;
        right: 2%;
        color: forestgreen;
    }
</style>
<div class="reset-password">
  <b>Find your Slatree account</b><br>
  Enter your email
</div>
<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.password_field :password,:class => 'form-control',:placeholder =>"password", :label =>"Your email"  %>
    </div>

    <hr>
    <div class="field">
      <%= f.password_field :password_confirmation,:class => 'form-control',:placeholder =>"password confirmation", :label =>"Your email"  %>
    </div>
    <br>
    <div class="actions">
      <%= submit_tag "Reset Password", :class => 'btn btn-success',:style=>"width:100%" %>
    </div>
<% end %>

<div class="reset-password-sub">
  Or type in your username and we’ll do our best to help:
  send to Slatree email
</div>
<div style="height: 95px"> </div>