<div class="comment-show">
  <div class="comment-sub">
    <div class="comment-sub1">
      <% if comment.user.image.present? %>
          <%=link_to image_tag(comment.user.image_url.to_s,:class=>"mobile-article-image"),comment.user  %>
      <% else %>
          <%=link_to image_tag("tree.png",:width=>"46px;",:height=>"55px;",:class=>"img-thumbnail"),comment.user  %>
      <% end %>
    </div>
    <div class="comment-sub2">
      <b style="margin-right: 44%; color: forestgreen">  <%= comment.user.name %></b><%= time_ago_in_words(comment.created_at) %><br>
      <p style="color: #2882b5"><%= comment.body %></p>
    </div>

  </div>

</div>
<hr style="color: forestgreen">