<%= form_for([@article, @article.comments.new]) do |f| %>

              <ul>
                <% @article.errors.full_messages.each do |msg| %>
                    <li style="color: #0d0d0d;text-align: center"><%= msg %></li>
                <% end %>
              </ul>



              <%= f.hidden_field :user_id, :class => 'form-control', :value => current_user.id if current_user %>



                <div class="control-group">
                  <%= f.text_area :body, :class => 'form-control', :placeholder=>"Text" %>
                </div>
                <%= error_span(@article[:body]) %>

                  <br>

                <%= f.submit "Submit", :class => 'btn btn-primary' %>

    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


<% end %>


