


<% @admin = current_user.admin(params[:id]) %>

<%= current_user.admin.username %>

<div class="admin-body-form-new">
  <h2 class="form-signin-heading"> <%= current_user.name %> Enter your admin Password</h2>

  <%= bootstrap_form_for @admin, url: new_password_path do |f| %>

      <%= f.text_field :id, hide_label: true  %>
      <%= f.text_field :user_id, hide_label: true  %>
    <%= f.password_field :password, hide_label: true, placeholder: "Enter a New Password", class: "input-lg required" %>
    <%= f.password_field :password_confirmation, hide_label: true, placeholder: "Confirm New Password", class: "input-lg required"%>

    <%= f.submit "Change Password", :class=> "btn btn-primary" %><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

<% end %>
</div>