<style type="text/css">

    .normal-g{

        width: 95%;
        height: auto;
        padding: 0.7px;
        padding-top: 4px;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;
        position: relative;
        left: 2.5%;
    }
    .normal-index{
        width:20%;
        height: 20px;
        float: right;
        text-align:center;
        font-size: inherit;
    }
    .normal-index1{
        width:200px;
        height: 50px;
        text-align: left;
        padding-left: 2%;
    }
    .normal-index-sub{
        width: 100%;
        height: auto;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;
        border: solid  #2a88bd 1px ;
        padding: 2%;

    }
    .comment-body{
        width: 100%;
        height: auto;
        padding: 0.7px;
        padding-top: 4px;
        text-align: left;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;

    }
    .font-body{
        font-family: 'Open Sans Light', sans-serif;
        color: #2a88bd;
        padding: 2%;
        font-size: 85%;

    }
</style>
<div class="normal-g">
  <div class="normal-index">
    <% if current_user %>
        <% if current_user.id   ==   article.user.id  %>
            <%= link_to "", edit_article_path(article),:class=>"glyphicon glyphicon-chevron-down"%>
        <% end %>
    <% end %>
  </div>
  <div class="normal-index1">
    <div>
      <% if article.user.image.present? %>
          <%=link_to image_tag(article.user.image,:class=>"mobile-article-image"), article.user %>
      <% else %>
          <%=link_to image_tag("tree.png",:width=>"46px;",:height=>"55px;",:class=>"img-thumbnail"), article.user %>
      <% end %>
    </div>
    <p style="position: relative;bottom: 40px;left: 50px;font-size: 80%"><b><%= article.user.name %></b>
      <br>
      <%= time_ago_in_words(article.created_at) %>
    </p>
  </div>
  <% if article.image.present? %>
      <div class="normal-index-sub">
        <%= image_tag(article.image_url.to_s,:width=>"100%;",:height=>"90px",:class=>"img-thumbnail")  %>
      </div>
  <% else %>
  <% end %>
  <div class="font-body">

    <%= link_to truncate(article.body, :length => 100), article %>

  </div>
  <div class="comment-body" ><b style="margin-left: 6px"> From </b>  <%=link_to article.page.name, article.page %>Comments:<%= article.comments.count %> Views:<%= article.views%></div>
  <% if current_user%>
      <%= render :partial =>  'comments/new',  :locals => {:@comment => Comment.new(:article_id => article.id)}%>
  <% end %>
</div>
