
<%=  bootstrap_form_for @article,  validate: true, :html => { :class => "form-horizontal user" } do |f| %>
    <% if @article.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>


    <div class="news-bodyfield">

      <div class="control-group">
        <div class="controls">
          <%= f.text_area :body, :class => 'form-control', label: "Enter text", :placeholder =>"Enter text",:style=>"height:200px"  %>
        </div>

      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.collection_select :category_id, Category.all, :id, :name %>
        </div>
      </div>


      <%= f.hidden_field :user_id, :class => 'form-control', :value=> current_user.id if current_user%>

      <div class="control-group">
        <div class="controls">
          <%= f.file_field :image, :class => 'form-control' %>
        </div>

      </div>


      <%= f.hidden_field :page_id  %>




      <%= f.submit nil, :class => 'btn btn-primary' %>


    </div>
<% end %>


