
<% @user = User.find(params[:id]) %>


<%= bootstrap_form_for @user, url: change_password_path do |p| %>
    <%= p.password_field :current_password, hide_label: true, placeholder: "Enter your Old Password", class: "input-lg required" %>
    <%= p.password_field :password, hide_label: true, placeholder: "Enter a New Password", class: "input-lg required" %>
    <%= p.password_field :password_confirmation, hide_label: true, placeholder: "Confirm New Password", class: "input-lg required"%>

    <%= p.submit "Change Password", :class=> "btn btn-primary" %><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<% end %>