<style type="text/css">
  .edit-list{
  margin-top: 20px;
  }
</style>

<div class="edit-list">
  <div data-role="content" data-theme="c">
    <ul data-role="listview" data-inset="true">
      <li data-role="list-divider" style="text-align: center">
        Setting
      </li>
      <br>
      <li>  <%=link_to "Change Avatar", user_setting_image_path %></li>
      <li>  <%=link_to "Change Password", user_setting_password_path %></li>
      <li>  <%=link_to "Tree own", user_setting_tree_path %></li>
      <li>  <%=link_to "Brancing ", user_setting_branching_path %></li>
      <li>  <%=link_to "More People", user_setting_index_path %></li>
      <li>  <%=link_to "More tree suggestions", user_setting_suggestion_path %></li>
      <li data-role="list-divider" style="text-align: center"><br></li>
    </ul>
  </div>

</div>