<style type="text/css">

    .normal-branch{
        width: 105%;
        background: #fff;
        padding: 0.7px;
        padding-top: 4px;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;
        position: relative;
        right: 2%;
    }
    .normal-user-mobile{
        width: 105%;
        height: 80px;
        padding: 0.7px;
        padding-top: 4px;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        position: relative;
        right: 2%;
    }
    .normal-index{
        width:20%;
        height: 20px;
        float: right;
        text-align:center;
        font-size: inherit;
    }
    .normal-index1{
        width:200px;
        height: 50px;
        text-align: left;
        padding-left: 2%;
    }
    .user-t tr td
    {
        border:1px solid forestgreen;
    }
    .normal-g{
        background: #ffffff;
        width: 95%;
        height: auto;
        padding: 0.7px;
        padding-top: 4px;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;
        position: relative;
        left: 2.5%;
    }
    .normal-index{
        width:20%;
        height: 20px;
        float: right;
        text-align:center;
        font-size: inherit;
    }
    .normal-index1{
        width:200px;
        height: 50px;
        text-align: left;
        padding-left: 2%;
    }
    .normal-index-sub{
        width: 100%;
        height: auto;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;
        border: solid  #2a88bd 1px ;
        padding: 2%;

    }
    .comment-body{
        width: 100%;
        height: auto;
        padding: 0.7px;
        padding-top: 4px;
        text-align: left;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;

    }
    .font-body{
        font-family: 'Open Sans Light', sans-serif;
        color: #2a88bd;
        padding: 2%;
        font-size: 85%;

    }
    .normal-index{
        width:20%;
        height: 20px;
        float: right;
        text-align:center;
        font-size: inherit;
        margin-top: 1%;
        position: relative;
        right: 3%;
    }
    .normal-index1{
        width:130px;
        height: 50px;
        text-align: left;
        padding-left: 2%;
    }
    .page-index-mobile{
        width: 105%;
        background: #fff;
        padding: 3px;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;
        position: relative;
        right: 2%;
    }
</style>
<script>
    (function() {

        $(window).on('scroll', function() {
            if ($('.pagination').length) {
                this.url = $('.pagination .next_page').attr('href');
                if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 50) {
                    $('.pagination').remove();
                    $('#posts').append('<div> <br>');
                    return $('#posts div').last().load(this.url + ' #posts', function() {
                        if ($('.next_page.disabled').length) return $('.pagination').remove();
                    });
                }
            }
        });

    }).call(this);
</script>
<div class="normal-user-mobile">
  <% if current_user.id == @user.id %>
  <div class="normal-index">
    <a  data-icon="arrow-l" <%= link_to '<i class="glyphicon glyphicon-cog" style="font-size:2.2em;color:forestgreen"></i>&nbsp'.html_safe, edit_user_path(@user) %></a>
  </div>
 <% end %>
  <div class="normal-index1">
    <div>
      <% if @user.image.present? %>
          <%= image_tag(@user.image,:class=>"mobile-user-profile")  %>
       <% else  %>
          <%= image_tag("tree.png",:class=>"mobile-user-profile")  %>
        <% end %>
    </div>
    <p style="position: relative;bottom: 140px;left: 94px;font-size: 95%"><b><%= @user.name %></b>
      <br>
      <%= @user.email %>
    </p>
  </div>
</div>
 <div class="normal-branch">
   <table class="user-t" style="position: relative;width: 100%;">
     <tr>
       <td><b class="glyphicon glyphicon-tree-deciduous" style="font-size: 100%;color: forestgreen"></b>  <%= @user.blog.count %></td>
       <td >  <b class="glyphicon glyphicon-leaf" style="font-size: 100%;color: forestgreen"></b> <%= @user.branches.count %> </td>
       <td ><b class="glyphicon glyphicon-pencil" style="font-size: 100%;color: forestgreen"></b> <%= @user.articles.count %> </td>
     </tr>
   </table>
 </div>
<% if current_user.pages.present? %>
    <div id="posts" style="margin-bottom: 10%">

      <%= render @articles %>

    </div>
<% end %>

<%= will_paginate @articles %>

<% if current_user.pages.empty? %>
    <%  @pages.where("views >= 50").take(10).each do |page| %>
    <div class="normal-index">
      <%if current_user %>
          <% unless Branch.friendship_exists?(current_user, page )%>
              <%= link_to '<i class="glyphicon glyphicon-plus"></i>'.html_safe, vote_page_path(page, :user_id => @user, :page_id => page.id), method: "post", :class=>"btn btn-success btn-sm" ,:rel=>"external" %>
          <% else %>
              <%= link_to '<i class="glyphicon glyphicon-tree-deciduous"></i>'.html_safe, page, :class=>"btn btn-success btn-sm",:style=>"width: 100%" %>
          <% end %>
      <% end %>
    </div>
    <div class="normal-index1">
      <div>
        <% if page.image.present? %>
            <%=link_to image_tag(page.image,:width=>"46px;",:height=>"47px;"), page  %>
        <% else %>
            <%=link_to  image_tag("tree.png",:width=>"46px;",:height=>"47px;",),page  %>
        <% end %>
      </div>
      <p style="position: relative;bottom: 40px;left: 50px;font-size: 80%"><b><%= page.name %></b>
        <br>
        <%= time_ago_in_words(page.created_at) %>
      </p>
    </div>
  <% end %>
 <%end%>



