<style type="text/css">
    .staree-logo{
        width: 105%;
        background: forestgreen;
        padding: 0.7px;
        padding-top: 4px;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;
        margin-top: 2%;
        position: relative;
        right: 2%;
        color: #fff;
        font-size:170%;
    }
    .sign-up{
        width: 105%;
        background: #fff;
        padding: 0.7px;
        padding-top: 10%;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;
        margin-top: 5%;
        position: relative;
        right: 2%;
        padding-left: 10%;
    }
    .sign-up-sub{
        width: 105%;
        background: #fff;
        padding: 10.7px;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        position: relative;
        right: 2%;
        padding-top: 2%;
        margin-bottom: 3%
    }
    .sign-up-fulter{
        padding-left: 15%;
        margin-bottom: 15%
    }
</style>

<%=  form_for @user,validate: true, :html => { :class => "form-horizontal user" } do |f| %>
    <div data-role="content" data-theme="c">
      <ul data-role="listview" data-inset="true">
        <li data-role="list-divider" style="text-align: center" style="text-align: center">
          <b>   Join  Slatree</b><br>
        </li>
        <li>
          <div data-role="fieldcontain">
            <%= f.text_field :name,  :autofocus => false, :placeholder => "Name", :style=>"width:95%;" %>
          </div>
        </li>

        <li>
          <div data-role="fieldcontain">
            <%= f.email_field :email, :autofocus => false, :placeholder => "Email", :style=>"width:95%;" %>
          </div>
        </li>

        <li>
          <div data-role="fieldcontain">
            <%= f.password_field :password, :autofocus => false, :placeholder => "Password", :style=>"width:95%;" %>
          </div>
        </li>

        <li>
          <div data-role="fieldcontain">
            <%= f.password_field :password_confirmation, :autofocus => false, :placeholder => "Password_Confirmation", :style=>"width:95%;" %>
          </div>
        </li>


        <li>
          <input type="submit" value="Submit" data-icon="star" data-iconpos="top" />
        </li>

        <li data-role="list-divider" style="text-align: center"><a href="/passbys/new" data-transition="slide"  ><b>Sign in</b></a></li>
        <li data-role="list-divider" style="text-align: center"><a href="/password_resets/new" data-transition="slide"  ><b>Forget Password</b></a></li>
      </ul>



</div>

  <% end %>

