<style type="text/css">
    .normal-list-body{
        width: 100%;
        background: #fff;
        padding: 0.7px;
        padding-top: 4px;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;
        position: relative;

    }
    .normal-body{
        width: 100%;
        background: #fff;
        padding: 0.7px;
        padding-top: 4px;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;
        position: relative;
    }
    .infor-page-mobile{
        width: 80%;
        background: #fff;
        padding: 0.7px;
        padding-top: 4px;
        text-align: center;
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;

    }
    .normal-g{
        background: #ffffff;
        width: 95%;
        height: auto;
        padding: 0.7px;
        padding-top: 4px;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;
        position: relative;
        left: 2.5%;
    }
    .normal-index{
        width:20%;
        height: 20px;
        float: right;
        text-align:center;
        font-size: inherit;
    }
    .normal-index1{
        width:200px;
        height: 50px;
        text-align: left;
        padding-left: 2%;
    }
    .normal-index-sub{
        width: 100%;
        height: auto;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;
        border: solid  #2a88bd 1px ;
        padding: 2%;

    }
    .comment-body{
        width: 100%;
        height: auto;
        padding: 0.7px;
        padding-top: 4px;
        text-align: left;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;

    }
    .font-body{
        font-family: 'Open Sans Light', sans-serif;
        color: #2a88bd;
        padding: 2%;
        font-size: 85%;

    }
</style>
<script>
    (function() {

        $(window).on('scroll', function() {
            if ($('.pagination').length) {
                this.url = $('.pagination .next_page').attr('href');
                if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 50) {
                    $('.pagination').remove();
                    $('#posts').append('<div>');
                    return $('#posts div').last().load(this.url + ' #posts', function() {
                        if ($('.next_page.disabled').length) return $('.pagination').remove();
                    });
                }
            }
        });

    }).call(this);
</script>

<div class="normal-list-body">

  <div style="text-align: center"><b><h4><%= @page.name %> Tree </h4></b></div>
  <ul data-role="listview" data-inset="true">
    <li>  <%=link_to "More info about this tree", @page.info %></li>
  </ul>
</div>





<div id="posts" style="width: 100%">
  <%  @articles.each do |article| %>

      <div class="normal-g">
        <div class="normal-index">
          <% if current_user %>
              <% if current_user.id   ==   article.user.id  %>
                  <%= link_to "", edit_article_path(article),:class=>"glyphicon glyphicon-chevron-down"%>
              <% end %>
          <% end %>
        </div>
        <div class="normal-index1">
          <div>
            <% if article.user.image.present? %>
                <%=link_to image_tag(article.user.image,:width=>"46px;",:height=>"55px;",:class=>"mobile-article-image"), article.user %>
            <% else %>
                <%=link_to image_tag("tree.png",:width=>"46px;",:height=>"55px;",:class=>"img-thumbnail"), article.user %>
            <% end %>
          </div>
          <p style="position: relative;bottom: 40px;left: 50px;font-size: 80%"><b><%= article.user.name %></b>
            <br>
            <%= time_ago_in_words(article.created_at) %>
          </p>
        </div>
        <% if article.image.present? %>
            <div class="normal-index-sub">
              <%= image_tag(article.image_url.to_s,:width=>"70%;",:height=>"170px",:class=>"img-thumbnail")  %>
            </div>
        <% else %>
        <% end %>
        <div class="font-body">

          <%= link_to truncate(article.body, :length => 100), article %>

        </div>
        <div class="comment-body"><b> From </b>  <%=link_to article.page.name, article.page %>Comments:<%= article.comments.count %> Views:<%= article.views%></div>
        <% if current_user %>
        <%= form_for([article, article.comments.new]) do |f| %>
            <ul>
              <% article.errors.full_messages.each do |msg| %>
                  <li style="color: #0d0d0d;text-align: center"><%= msg %></li>
              <% end %>
            </ul>
            <%= f.hidden_field :user_id, :class => 'form-control', :value => current_user.id if current_user %>
                <%= f.hidden_field :article_id, :class => 'form-control', :value => article.id %>
            <div class="control-group">
              <%= f.text_area :body, :class => 'form-control', :placeholder=>"Enter Comment" ,:style=>"width:98%;  height: 40px;" %>
            </div>
            <table style="position: relative;right: 5%;width: 100%">
              <tr>
                <td>
                  <% if current_user.image.present? %>
                      <%= image_tag(current_user.image,:width=>"50px;",:height=>"55px;",:class=>"mobile-article-image")  %>
                  <% else %>
                      <%= image_tag("tree.png",:width=>"50px;",:height=>"55px;",:class=>"img-thumbnail")  %>
                  <% end %>
                </td>
                <td >   <%= f.submit "comment", :class => 'btn btn-success', :style=>"width:100% ;" %> </td>
              </tr>
            </table>
        <% end %>
      <% end %>
      </div>



<% end %>


</div>

<%= will_paginate @articles %>
<br>
<% if current_user %>
    <% if current_user.id   ==   @page.user.id  %>
<%= render :partial =>  'articles/formuser',  :locals => {:@article => Article.new(:page_id => @page.id)}%>
   <% end %>
<% end %>