<script>
    $(document).ready(function(){
        $("#flip1").click(function(){
            $("#panel1").slideToggle("slow");
        });
    });
    $(document).ready(function(){
        $("#flip3").click(function(){
            $("#panel3").slideToggle("slow");
        });
    });
</script>

<div class="row">
  <div class="col-md-9 col-md-push-3">
    <div style="width: 93%;margin-bottom: 0%;position: relative;bottom: 20px">
    <div class="page-show-title" style="height:100px">
      <div class="row">
        <div class="col-xs-6">
          <div class="qf b aml">
            <span style="font-size:1.2em;color: forestgreen" class="glyphicon glyphicon-leaf"></span>
            Branched <%= @page.branches.count %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="qf b aml">
            <span style="font-size:1.2em;color: forestgreen" class="glyphicon glyphicon-eye-open"></span>
            Page Views  <%= @page.views %>
          </div>
        </div>
      </div>
      <h4 style="color: forestgreen">  <%= @page.name  %> Tree</h4>
    </div>
      <% if current_user %>
          <% if current_user.id   ==   @page.user.id  %>
      <ul class="article-link">
        <li>
          <a data-toggle="modal" href="#myModal"> <button  type="button" class="btn btn-warning btn-sm"> Edit Blog </button> </a>
        </li>
        <li>
          <button type="button" id="flip1" class="btn btn-warning btn-sm"> Add post <span style="font-size:1.2em;" class="glyphicon glyphicon-pencil"></span></button>
        </li>
      </ul>
       <% else %>
              <ul class="article-link">
                <li>

                </li>
              </ul>
      <% end %>

      <% else %>
          <ul class="article-link">
            <li>

            </li>
          </ul>
     <% end %>
   </div>

    <div id="panel1"  style="width: 80%;margin-bottom: 4%;">
      <%= render :partial =>  'articles/formuser',  :locals => {:@article => Article.new(:page_id => @page.id)}%>
    </div>
      <div id="products">
         <%= render :partial => 'articles/index'%>
     </div>
        <div class="hide-page">
          <%= will_paginate @articles %>
        </div>
    </div>

  <div class="col-md-3 col-md-pull-9" >
    <div class="natice-body" style="margin-bottom: 30%">
      <% if @page.image.present? %>
          <%= image_tag @page.image_url.to_s, :width=>"125px;",:height=>"105px;", :style => "position:relative;top:37px; z-index: 2;",:class=>"img-circle" %>
       <% else %>
          <%= image_tag "TREEEEEE.jpg", :width=>"125px;",:height=>"105px;", :style => "position:relative;top:37px; z-index: 2;",:class=>"img-circle" %>
       <% end %>
    </div>
    <div class="page-user-type">
      <% @users = current_user.id if current_user %>
          <div class="natice-body">
            <% if current_user %>
                Have you   <%= link_to '<i class="glyphicon glyphicon-leaf"></i>&nbspBranch in'.html_safe, branches_path(:user_id => @users, :check => @check, :page_id => @page.id), :class=>"btn btn-primary btn-sm",:style => " text-decoration:none ;",:method => :post %>
              <% else %>
                To Branch In  <%= link_to '<i class="glyphicon glyphicon-leaf"></i>&nbspSign Up '.html_safe, welcome_index_path,:class=>"btn btn-primary btn-sm"%>
            <%end%>
          </div>
    </div>
    <div class="list-group">
      <div href="#" class="natice-body">Tree Recent Post </div>
      <% @page.articles.take(5).each do |article| %>
          <div class="list-group-item" data-remote="true" href="/users/love/questions">
            <%= link_to truncate(article.body, :length => 50,), article  %>
          </div>
      <% end %>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit tree</h4>
      </div>
      <div class="modal-body">
        <%= render "pages/admin_edit" %>
      </div>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
