<style type="text/css">
    .normal-body{
        width:98%;
        background: #fff;
        padding: 0.7px;
        padding-top: 4px;
        text-align: center;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        font-family: 'Open Sans Light', sans-serif;
        margin-bottom: 2%;
        position: relative;
    }
</style>

<div style="position: relative;left: 1%;margin-top: 1%">
  <div class="normal-body">
     <h1>Change Password</h1>
  </div>
<%= form_for current_user, url: change_password_path do |p| %>
    <br>
    <%= p.password_field :current_password, hide_label: true, placeholder: "Enter your Old Password", class: "input-lg required" %>
    <br>
    <%= p.password_field :password, hide_label: true, placeholder: "Enter a New Password", class: "input-lg required" %>
    <br>
    <%= p.password_field :password_confirmation, hide_label: true, placeholder: "Confirm New Password", class: "input-lg required"%>
    <br>

    <%= p.submit "Change Password", :class=> "btn btn-primary" %>
<% end %>
</div>