<div  id="about">
  <div class="navbar">
    <div class="navbar-inner"><h4><i class="icon-star"></i>&nbspAdmin panel</h4></div>
  </div>

    <span>
      <p style="margin: 20px; overflow: auto;">
        <ul>
          <li><%= link_to "upload form Song", new_song_path %></li>
          <li><%= link_to "upload form Beat", new_beat_path %></li>
          <li><%= link_to "upload form Article", new_article_path %></li>
          <li><%= link_to "Add form Artist", new_artise_path %></li>
          <li><%= link_to "check for index", suggestions_path %></li>
        </ul>

      </p>
    </span>

</div>
