<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

  <%= stylesheet_link_tag "/statree/css/bootstrap.css","/mobile/jquery.mobile.theme-1.0.min.css","/mobile/f.2.css", "/mobile/jquery.mobile.structure-1.0.min.css", "/statree/css/bootstrap.min.css","/statree/css/simple-sidebar.css","/statree/css/statree.css" %>
  <%= javascript_include_tag  "/statree/js/bootstrap.js", "/mobile/jquery-1.6.4.min.js", "/mobile/jquery.mobile-1.0.min.js","/statree/js/statree.js","/mobile/jquery.mobile-1.0.min.js","/statree/js/bootstrap.min.js","/statree/js/jquery.js","/statree/js/drowup.js"%>


  <%= yield(:head) %>

</head>
<body>
  <style>
      body{
          background:url("WT%20NEW%203.jpg");

      }
  </style>




  <div class="current">

    <div data-role="navbar">
      <ul>
        <li>
          <% if current_user %>
              <a  data-icon="arrow-l" <%= link_to "Logout", log_out_path%> </a>
          <% else %>
              <a href="/passbys/new" data-icon="arrow-d">Sign In</a>
          <% end %>
        </li>
        <li><a href="/articles" data-transition="slide" data-icon="grid ">Forum</a></li>
        <li><a href="/pages" data-icon="search ">Tree</a></li>
        <li>
          <% if current_user %>
              <a  data-icon="gear" <%= link_to current_user.name,   current_user  %> </a>
          <% else %>
              <a href="/" data-transition="slide" data-icon="info">About</a>
          <%end%>
        </li>
      </ul>
    </div>


    <% unless flash.empty? %>
        <div class="info">
          <%- flash.each do |name, msg| -%>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
        </div>
    <% end %>

    <%= yield %>



    <div data-role="navbar">
      <ul>
        <li>
          <a href="/welcome/index" data-icon="info">About</a>
        </li>
        <li> <a data-icon="home" <%= link_to "Full Site", root_url(:mobile => 0), :class => "button", :rel => "external" %></a></li>
      </ul>
    </div>


  </div>




</body>
</html>
